.toolbarProfile {
    display: flex;
    margin-left: 30px;
    align-items: center;
}

.toolbarProfile img {
    border-radius: 50%;
    margin-right: 20px;
}

.toolBarOptions {
    display: flex;
    border-radius: 50%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    font-family: "Roboto", FontAwesome;
}

.toolBarOptions i {
    font-size: 18px;
    font-style: normal;
    background-color: #e6ebfe;
    border-radius: 50%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #7796ff;
}

.iconGroup {
    margin-right: 20px;
}
