<div class="taskDetails">
    <div class="outerDetails">
<i class="fa fa-check-circle taskCheck" aria-hidden="true"></i>
</div>
        <div class="innerDetails">
            <p id="taskTitle">{{$ctrl.selected.title}}</p>

            <span class="timeStats">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <p id="taskTime">12 Mar, 2018</p>
            </span>


            <p id="taskDescription">“God’s Plan” is a feel good track that discusses Drake’s future. Being who he is in the industry he knows that people want him to fail, however God won’t let him do that. Another key subject of the song is the separation Drake feels that he
                needs to have from those outside of his inner circle. Anyone who tries to work their way into his life must have an ulterior motive to benefit themselves. The song was originally leaked on Instagram under the title “God’s Plan.” Later,
                it was thought to...</p>
            <div class="taskDivider"></div>
            <div class="actionHistory">


                <p>
                    <b>Eiichiro Oda</b> assigned to Nami. 18 Feb, 2018
                </p>
                <p>
                    <b>Eiichiro Oda</b> added to Development. 18 Feb, 2018
                </p>
                <p>
                    <b>Eiichiro Oda</b> created task. 18 Feb, 2018
                </p>
            </div>
            <div class="taskDivider"></div>
            <div class="taskStatus">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                <span>Luffy completed this task</span>
            </div>
            <div class="taskDivider"></div>

        <div class="taskIcons">

            <div class="leftIcons">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <div>
                    <b>Article.docx</b>
                    <p>added 26 Feb, 2018</p>
                </div>
            </div>

            <div class="rightIcons">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <i class="fa fa-cloud-download" aria-hidden="true"></i>
            </div>
        </div>

        </div>

</div>

<div class="commentBox">
    <div>
        <input placeholder="Write a Comment..."></input>
    </div>

    <div class="attatchment">
        <i class="fa fa-paperclip"></i>

    </div>

    <div class="submit">
        <i class="fa fa-reply  fa-flip-horizontal" aria-hidden="true"></i>
    </div>

</div>
