



    <div class="task">

        <div class="checkMark">
            <img width="40px" src="css/pics/check.png" alt="Mountain View">
        </div>

        <div class="taskText">
            <b>Create Adwords Campaign</b>
            <p>22 Feb, 2018</p>
        </div>

        <div class="userPic">
            <img width="40px" src="css/pics/goku.jpg" alt="Mountain View">
        </div>
    </div>

    <div class="task">

        <div class="checkMark">
            <img width="40px" src="css/pics/check.png" alt="Mountain View">
        </div>

        <div class="taskText">
            <b>Sales report </b>
            <p>15 Apr, 2018</p>
        </div>

        <div class="userPic">
            <img width="40px" src="css/pics/nami.jpg" alt="Mountain View">
        </div>
    </div>
    <div class="task">

        <div class="checkMark">
            <img width="40px" src="css/pics/check.png" alt="Mountain View">
        </div>

        <div class="taskText">
            <b>Write a bout design trends</b>
            <p>22 Feb, 2018</p>
        </div>

        <div class="userPic">
            <img width="40px" src="css/pics/luffy.png" alt="Mountain View">
        </div>
    </div>
    <div class="task">

        <div class="checkMark">
            <img width="40px" src="css/pics/check.png" alt="Mountain View">
        </div>

        <div class="taskText">
            <b>Wite article for Forbes</b>
            <p>22 Feb, 2018</p>
        </div>

        <div class="userPic">
            <img width="40px" src="css/pics/lovelive.jpg" alt="Mountain View">
        </div>
    </div>

    <div class="task centerButton addTask">

        <button id="addTask" type="button">Add Task</button>
    </div>
