<div class="taskList">

    <!-- <div class="task">

        <div class="checkMark">
            <img width="40px" src="css/check.png" alt="Mountain View">
        </div>

        <div>
            <h4>Create Adwords Campaign</h4>
            <p>22 Feb, 2018</p>
        </div>

        <div class="userPic">
            <img width="40px" src="css/goku.jpg" alt="Mountain View">
        </div>
    </div>

    <div class="task">

        <div class="checkMark">
            <img width="40px" src="css/check.png" alt="Mountain View">
        </div>

        <div>
            <h4>Sales report </h4>
            <p>15 Apr, 2018</p>
        </div>

        <div class="userPic">
            <img width="40px" src="css/nami.jpg" alt="Mountain View">
        </div>
    </div>
    <div class="task">

        <div class="checkMark">
            <img width="40px" src="css/check.png" alt="Mountain View">
        </div>

        <div>
            <b>Write a bout design trends</b>
            <p>22 Feb, 2018</p>
        </div>

        <div class="userPic">
            <img width="40px" src="css/luffy.png" alt="Mountain View">
        </div>
    </div>
    <div class="task">

        <div class="checkMark">
            <img width="40px" src="css/check.png" alt="Mountain View">
        </div>

        <div>
            <h4>Wite article for Forbes</h4>
            <p>22 Feb, 2018</p>
        </div>

        <div class="userPic">
            <img width="40px" src="css/lovelive.jpg" alt="Mountain View">
        </div>
    </div>

    <div class="task centerButton">

        <button id="addTask" type="button">Add Task</button>
    </div> -->


</div>
