<div class="mainProfile">
    <img width="80px" src="css/pics/luffy.png" alt="Mountain View">

    <b>Luffy Mugiwara</b>

    <p class="email">
        luffy.mugiwara@onepiece.com
    </p>
    <div class="profileIcons">
        <i class="fa fa-tag"></i>
        <i class="fa fa-check-square-o"></i>
        <i class="fa fa-paperclip"></i>
    </div>


    <div id="myProgress">
        <div id="myBar"></div>
    </div>

    <div class="stats">
        <div>
            <b>12</b>
            <p>Completed</p>
            <p>Tasks</p>
        </div>
        <div>
            <b>22</b>
            <p>To Do</p>
            <p>Tasks</p>
        </div>
        <div>
            <b>243</b>
            <p>All</p>
            <p>Completed</p>
        </div>
    </div>

</div>

<div class="projects">
    <div class="projectList">
        <b>PROJECTS</b>
        <p><i style="color:#B872F4" class="fa fa-circle-o" aria-hidden="true"></i> Marketing</p>
        <p><i style="color:#615DE6" class="fa fa-circle-o" aria-hidden="true"></i> Design</p>
        <p><i style="color:#FBBD58" class="fa fa-circle-o" aria-hidden="true"></i> Development</p>
        <p><i style="color:#FB5D72" class="fa fa-circle-o" aria-hidden="true"></i> Management</p>
    </div>
    <div class="divider"></div>

    <div class="team">
        <b>TEAM</b>
        <div class="teampics">
            <img width="40px" src="css/pics/luffy.png" alt="Mountain View">
            <img width="40px" src="css/pics/goku.jpg" alt="Mountain View">
            <img width="40px" src="css/pics/nami.jpg" alt="Mountain View">
            <img width="40px" src="css/pics/lovelive.jpg" alt="Mountain View">
            <img width="40px" src="css/pics/luffy.png" alt="Mountain View">
        </div>
    </div>
</div>
